@model Application.Features.Web.Roles.RoleUpdateDTO
@using Application.DTOs.Claims
@{
    var Claim = ViewData["Claim"] as ClaimDTO;
}

<div class="modal-header">
    <button type="button" class="close" title="بستن پنجره" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal5-label">
        ویرایش نقش
    </h4>

    <div class="text-center">
        پرکردن فیلدهای ستاره دار الزامی است.
    </div>
</div>

<div class="modal-body row">

    <div class="col-md-12">
        <form asp-action="Edit" class="edit-form" onsubmit="return entity.edit.save(event)">
            <div class="form-horizontal">

                <input type="hidden" asp-for="Id" />

                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="error text-center text-danger create-error">@ViewBag.Error</div>

                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <label asp-for="Title" class="control-label text-right col-md-12 required"></label>
                        <div class="col-md-12">
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <label asp-for="Description" class="control-label text-right col-md-12"></label>
                        <div class="col-md-12">
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>



                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            <div class="togglebutton">
                                <label>
                                    فعال باشد
                                    <input asp-for="IsEnabled" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                                
                <!--دسترسی ها-->
                <div class="form-group col-md-12">
                    <label class="control-label text-right col-md-12 required" style="padding-bottom:20px;">دسترسی های نقش را مشخص کنید : </label>
                    <div class="col-md-12 claim-section">
                        <partial name="_ClaimItem" model="Claim" />
                    </div>
                </div>


                <div class="form-group col-md-12 text-center">
                    <button type="submit" class="btn btn-success">
                        <i class="material-icons">send</i>
                        ذخیره اطلاعات
                    </button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>

        </form>
    </div>
</div>

