@using Application.Features.Web.Profiles;
@model UserProfileChangePasswordCommand

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">account_box</i>
        </div>
        <div class="card-content">
            <h4 class="card-title"> تغییر کلمه عبور </h4>

            <div class="col-md-12">
                <form asp-action="ChangePassword" class="change-pass-form" onsubmit="return entity.save(event); return false;">
                    <div class="form-horizontal">
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="error text-center text-danger">@ViewBag.Error</div>
                        <div class="success text-center text-success">@ViewBag.Success</div>

                        <div class="col-md-6 col-md-offset-3">

                            
                            <div class="col-md-12 bg-warning" style="margin-bottom: 20px; padding: 10px;">
                                <div>
                                    <i class="material-icons" style="transform: translateY(7px);">warning</i>
                                    <b>توجه نمایید که:</b>
                                </div>
                                <div>- کلمه عبور جدید باید حداقل 6 کاراکتر و شامل حروف بزرگ و کوچک لاتین، عدد و یکی از کاراکترهای !@@%*#?& باشد. </div>
                            </div>


                            <div class="form-group col-md-12">
                                <label asp-for="CurrentPassword" class="control-label text-right col-md-12 required"></label>
                                <div class="col-md-12">
                                    <input type="password" asp-for="CurrentPassword" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label asp-for="Password" class="control-label text-right col-md-12 required"></label>
                                <div class="col-md-12">
                                    <input type="password" asp-for="Password" onkeyup="entity.form.isPasswordStrength(this.value)" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span><br />
                                    <small class="col-md-12 strength-bar" id="password-text"></small>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label asp-for="RePassword" class="control-label text-right col-md-12 required"></label>
                                <div class="col-md-12">
                                    <input type="password" asp-for="RePassword" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-md-12 text-center">
                                <div class="">
                                    <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage", "Captcha", new{area = ""})" style="width: auto; height:60px;" onclick="entity.form.changeCaptcha()" />
                                    <br /><small>با کلیک روی عکس، کد امنیتی بازنشانی می شود</small>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="control-label text-right col-md-12 required">کد امنیتی</label>
                                <input type="number" id="captcha" name="captcha" class="form-control col-md-12">
                            </div>

                        </div>

                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="col-md-12">

                                <div class="form-group text-center">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-info">
                                            <i class="material-icons">send</i>
                                            تغییر کلمه عبور
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!-- end content-->
    </div>
    <!--  end card  -->
</div>




@section styles{

    <style>

        .strength-bar {
            height: 20px;
            transition: width 1s;
            width: 0;
        }

    </style>
}




@section Scripts{
<script src="~/Areas/AuthSystem/js/ChangePassword.js" asp-append-version="true"></script>

}

