@using Domain.Entities
@model IEnumerable<Province>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="col-md-8 col-md-offset-2">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
            <h4 class="card-title"> لیست استان ها </h4>
            <div class="toolbar">
                <p>
                    <a onclick="entity.create.loadForm()" class="btn btn-success"><i class="material-icons">add_circle_outline</i> افزودن استان جدید</a>
                </p>
            </div>

            <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                شناسه
                            </th>
                            <th>
                                نام استان
                            </th>
                            <th class="disabled-sorting"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
        </div>
        <!-- end content-->
    </div>
    <!--  end card  -->
</div>





<!-- چارچوب مدال برای فرم ها -->
<div class="modal fade modal small-modal" id="base-modal" tabindex="-1" role="dialog" aria-labelledby="modal5-label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-form">

        </div>
    </div>
</div>







@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/assets/js/jquery.datatables.js"></script>

    <script src="~/Areas/Shared/js/Province.js" asp-append-version="true"></script>
}

